@model List<Student>

@{

    ViewData["Title"] = "All Studetns";

    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="ViewAll">
    @await Html.PartialAsync("_allView.cshtml", Model)
</div>




