@model IEnumerable<MVCCore03Osama.Models.Instructor>
@{
    ViewData["Title"] = "getActiveStudents";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>All Instructors</h1>
<div id="noti" class="alert" style="display:none">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
</div>



<div id="ViewAll">
    @*<partial name="_ViewAllInstructors" model="Model" />*@
    @await Html.PartialAsync("_ViewAllInstructors", Model)
</div>



<script>
    function getDetails(Insid) {
        $.ajax({
            type: "Get",
            url: '@Url.Action("Detail", "Instructor")',
            contentType: "json",
            data: { id: Insid},
            dataType: "json",
            success: function (Data) {
                console.log(JSON.parse(Data));
                var inst = JSON.parse(Data);

                if (Data) {
                    document.getElementById('fname').innerHTML = inst.Fname;
                    document.getElementById('lname').innerHTML = inst.Lname;
                    document.getElementById('email').innerHTML = inst.Email;
                    //alert('Loaded  Successfuly ');

                    //location.href = "https://localhost:44369/Instructor"
                }
                else alert("not removd", value.value);
            },
            error: function () { alert('A error'); }
        });
    }

    function deleteIns(Insid) {
        $.ajax({
            type: "Get",
            url: '@Url.Action("Delete", "Instructor")',
            contentType: "json",
            data: { id: Insid},
            dataType: "json",
            success: function (Data) {
                console.log(JSON.parse(Data));
                $('#insContent').load(document.URL + ' #insContent');

                document.getElementById("noti").style.display="block";
                setTimeout(function () { document.getElementById("noti").style.display = "none"}, 3000);

            },
            error: function (e) { console.log(e) }
        });
    }
</script>


