@model University.Models.Course

@{ ViewData["Title"] = "AddOrEdit";
    Layout = null;
    var insList = ViewBag.ins; 
}

<div class="row">
    <div class="col-md-10">
        <form id="courseForm" asp-action="AddOrEdit" asp-route-id="@Model.ID" onsubmit="return jQueryAjaxPost(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @*<div class="form-group">
                    <label asp-for="ID" class="control-label"></label>
                    <input asp-for="ID" class="form-control" />
                    <span asp-validation-for="ID" class="text-danger"></span>
                </div>*@
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="TotalGrade" class="control-label"></label>
                <input asp-for="TotalGrade" class="form-control" />
                <span asp-validation-for="TotalGrade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Describtion" class="control-label"></label>
                <input asp-for="Describtion" class="form-control" />
                <span asp-validation-for="Describtion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstructorId" class="control-label"></label>
                <select asp-items="@insList" name="InstructorId"></select>
                <span asp-validation-for="InstructorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
