@model IEnumerable<MVCCore03Osama.Models.ApplicationUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>All Uers</h1>

<div id="ViewAll">
    @await Html.PartialAsync("_ViewAllUsers", Model)
</div>
