@model IEnumerable<MVCCore03Osama.Models.ApplicationUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>All Uers</h3>

<div id="ViewAll">

    @await Html.PartialAsync("_ViewAllUsers", Model)
</div>
